[user]
name = "Warre Dujardin"
email = {{ .email | quote }}

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[templates]
git_push_bookmark = '"warre/push-" ++ change_id.shortest()'

[revsets]
log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()'

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'lca(a, b)' = 'heads(::a & ::b)' # Last Common Ancestor
'subtree(a, b)' = 'lca(a, b)::a | lca(a, b)::b' # Tree from the Last Common Ancestor to both heads
stragglers = 'immutable()+ ~ immutable()'

[aliases]
l = ["log"]
sq = ["squash"]
gp = ["git", "push"]
gpc = ["git", "push", "-c", "@"]
gpn = ["git", "push", "-N", "-r", "@ | @-"]
gf = ["git", "fetch"]
gcl = ["git", "clone", "--colocate"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "@"]
dm = ["describe", "-m"]
ls = ['log', '-r', '@', '--no-graph', '-T', 'diff.files().map(|f| f.target().path()).join("\n") ++ "\n"']
evolve = ['rebase', '--skip-emptied', '-d', 'trunk()']
pullup = ['evolve', '-s', 'stragglers']
sync = ['git', 'fetch', '--all-remotes']

[signing]
behavior = "own"
backend = "ssh"
key = {{ .ssh_signing_key | quote }}

[ui]
editor = "nvim"
merge-editor = "vscode"
pager = ["delta", "--pager", "less -FRX"]
diff-formatter = ":git"
