[user]
name = "Warre Dujardin"
email = {{ .email | quote }}

[git]
sign-on-push = true

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[aliases]
l = ["log"]
sq = ["squash"]
gp = ["git", "push"]
gpn = ["git", "push", "-N", "-r", "@ | @-"]
gf = ["git", "fetch"]
gcl = ["git", "clone", "--colocate"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "@"]
dm = ["describe", "-m"]


[signing]
behavior = "drop"
backend = "ssh"
key = {{ .ssh_signing_key | quote }}

[ui]
editor = "nvim"
merge-editor = "vscode"
pager = "delta"
diff-formatter = ":git"
